/*----------------------Offers---------------------------- */
.offers {
  min-height: calc(100vh - 731px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.avatar {
  margin-right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #2baeb7;
}
.offers p {
  margin-left: 5px;
}
.offer-card:hover {
  transform: scale(1.01);
}
.offer-card {
  box-shadow: 0 0 5px grey;
  border-radius: 5px;
  cursor: pointer;
  margin: 50px 10px 0 0;
  flex-shrink: 0;
  height: 460px;
  width: 240px;
  background-color: rgb(247, 244, 244);
  /* border: 1px solid rgb(185, 185, 185); */
}
.username {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  /* font-size: 12px; */
  line-height: 10px;
  color: #999999;
}
.offer-card .image {
  width: 100%;
  height: 361px;
  margin-bottom: 10px;
}
.offer-card .image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.price {
  font-size: 14px;
  line-height: 11.7px;
}
.details,
.brand {
  font-size: 12px;
  line-height: 10px;
}
.bottom-info > p {
  margin-top: 6px;
}

/* @media (max-width: 575.98px) {

} */

/* Small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) {

} */

/* Medium devices (tablets, less than 992px) */

/* Large devices (desktops, less than 1200px) */

@media (max-width: 1299.98px) {
  .offer-card {
    width: 17vw;
    height: 39vw;
  }
  .offer-card .image {
    height: 74%;
  }
}
@media (max-width: 970.98px) {
  .publish {
    width: 90vw;
  }
  .offer-card {
    width: 30vw;
    height: 50vw;
  }
  .offer-card .image {
    height: 73%;
  }
}
/* @media (max-width: 900px) {
  .offer-card {
    width: 40vw;
    height: 60vw;
  }
  .offer-card .image {
    height: 76%;
  }
} */
@media (max-width: 700px) {
  .username {
    height: 30px;
  }
  .avatar {
    height: 20px;
    width: 20px;
  }
  .offer-card {
    width: 40vw;
    height: 60vw;
  }
  .offer-card .image {
    min-height: 70%;
  }

  /* .details {
      display: none;
    } */
}
@media (max-width: 570px) {
  /* .bottom-info {
      display: flex;
    } */
  .pagination .page-number {
    font-size: 1rem;
  }
  .avatar {
    height: 18px;
    width: 18px;
  }
  .username {
    font-size: 1rem;
    height: 25px;
  }
  .offer-card {
    width: 40vw;
    height: 75vw;
  }
  .offer-card .image {
    height: 65%;
  }
  .price,
  .brand {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .username {
    font-size: 0.8rem;
    height: 30px;
  }
  .avatar {
    height: 20px;
    width: 20px;
  }
  .price,
  .brand,
  .details {
    font-size: 0.7rem;
  }
  .offer-card {
    width: 40vw;
    height: 88vw;
  }
  .offer-card .image {
    min-height: 70%;
  }
}
