.contain {
  background-color: #ebedee;
  min-height: calc(100vh - 121px);
}

/*----------------------Main---------------------------- */

main {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
main .photo {
  margin-top: 50px;
  width: 450px;
  height: 600px;
  background-color: rgb(199, 194, 135);
}
main .photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
main .info {
  padding: 40px;
  box-sizing: border-box;
  margin-top: 50px;
  width: 400px;
  height: 600px;
  background-color: white;
}
.info .upper,
.info .bottom {
  height: 50%;
  width: 100%;
}
.info .bottom {
  border-top: 1px solid grey;
  padding-top: 60px;
  box-sizing: border-box;
}
.info .upper .price {
  font-size: 24px;
  line-height: 32px;
  color: #111111;
  margin-bottom: 20px;
}
.details > div {
  font-size: 14px;
  line-height: 11.7px;
  display: flex;
  justify-content: space-between;
}
.details > div div {
  margin-bottom: 10px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.details div div span:first-child {
  color: #999999;
  line-height: 14px;
}
.details div div span:last-child {
  color: #666666;
  line-height: 14px;
}

.bottom p {
  font-size: 14px;
  line-height: 15.7px;
  color: #666666;
  margin-bottom: 20px;
}
.bottom p:first-child {
  font-size: 16px;
  line-height: 13px;
  color: black;
}
.bottom button {
  margin: 60px auto 0;
  width: 90%;
  height: 40px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 10px;
  padding: 5px 20px;
  background-color: #2baeb7;
  color: white;
  border: none;
}
@media (max-width: 980px) {
  .main-offer {
    justify-content: center;
  }
}
@media (max-width: 770px) {
  .contain {
    background-color: #ebedee;
    height: max-content;
  }
  .main-offer {
    padding: 50px 0;
    flex-direction: column;
    justify-content: center;
  }
  main .photo,
  main .info {
    width: 80%;
    height: 500px;
    margin: 0 auto;
  }

  main .info {
    margin-top: 0;
  }
  .info .bottom {
    padding-top: 30px;
  }
}
@media (max-width: 570px) {
  main .photo,
  main .info {
    width: 100%;
    height: 90vw;
  }
  main .info {
    height: 500px;
    padding: 20px;
    padding-left: 30px;
  }
  .bottom button {
    margin: 20px auto 0;
  }
}
