.menu-mobile {
  display: flex;
  color: red;
  display: none;
}
.menu-mobile-icon {
  cursor: pointer;
  padding: 3px;
  font-size: 1.5rem;
}
.menu-mobile .menu-block {
  z-index: 100;
  background: linear-gradient(#37373b, #0f0f0f);
  position: fixed;
  transition: all 0.3s ease;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  color: white;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
  z-index: 160;
}
.menu-mobile .menu-block p {
  text-align: end;
  padding: 0px 10px;
  height: 30px;
}
.menu-mobile .menu-block .close-icon {
  cursor: pointer;
  font-size: 1.5rem;
}
.menu_mobile_signout_btn {
  background-color: var(--gamepad-red);
  border-radius: 5px;
  align-self: flex-end;
  justify-self: end;
}
.menu-mobile .menu-block ul {
  display: flex;
  flex-direction: column;
  height: calc(95vh - 30px);
}
.menu-mobile .menu-block ul li {
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
}
.menu-mobile .menu-block ul a:hover {
  background-color: rgb(176, 173, 173);
}

.menu-mobile-profile_photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
  background-color: thistle;
  margin-left: 10px;
}
.menu-mobile-profile_photo > span {
  font-size: 30px;
  line-height: 21px;
  font-weight: bold;
  font-family: "Exo", sans-serif;
  text-decoration: none;
}
.menu-mobile-profile_photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: tomato;
}
@media (max-width: 767.98px) {
  .menu-mobile {
    display: flex;
  }
}
@media (max-width: 450px) {
  .menu-mobile-profile_photo {
    display: none;
  }
}
