.signup {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup .signup-block {
  position: relative;
  background-color: white;
  border-radius: 10px;
  font-family: "Maison neue book";
  font-size: 24px;
  line-height: 20px;
  width: 420px;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 0 10px grey;
  box-sizing: border-box;
}
.signup .close-icon {
  font-size: 1rem;

  position: absolute;
  right: 20px;
  top: 20px;
  color: #666666;
}
.signup .signup-block form {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Maison neue book";
}
.newsletter-block {
  padding: 10px 40px 20px;
}
.signup .signup-block form .newsletter-block div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}
.signup .signup-block form .newsletter-block input {
  width: 25px;
  margin: 0;
  margin-right: 10px;
  line-height: 20px;
}
.signup .signup-block > .signup-text {
  font-family: "Maison neue book";
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 30px;
}
.signup .signup-block form input {
  width: 80%;
  height: 35px;
  border: none;
  padding: 2px;
  outline: none;
  font-size: 1rem;
  border-bottom: solid 1px #fcced3;
  margin-bottom: 20px;
  color: #303030;
}
.signup .signup-block form input::placeholder {
  font-size: 1rem;
  color: rgb(174, 178, 182);
}
.signup .signup-block h4 {
  font-size: 12px;
  line-height: 10px;
  font-family: inherit;
  color: #2baeb7;
  margin-top: 30px;
}
.signup .signup-block .sub-text {
  align-content: stretch;
  margin-top: 10px;
  font-size: 12px;
  line-height: 13px;
  color: #999999;
}
.signup .signup-block form button[type="submit"] {
  width: 90%;
  height: 40px;
  background-color: #2baeb7;
  border: none;
  color: white;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 13px;
  border-radius: 10px;
  margin-top: 20px;
}
.error-message {
  color: red;
  font-size: 16px;
  line-height: 13px;
}

@media (max-width: 767.98px) {
  .signup {
    background-color: #fff;
  }
  .signup .signup-block {
    box-shadow: none;
  }
  .signup .close-icon {
    font-size: 1.5rem;
  }
}
